
.main_img{
	height:70%;
	width:80%;
	margin-right:auto;
	margin-left:auto;

}
.main{
	transform: translateY(100px);
	text-align:center;
}
.menu{
	text-align:center;
}
.cart{
	position:relative;
	top:50px;
}

.item_table{
	margin-right:auto;
	margin-left:auto;
	position:relative;
	top:30px;
	width:70%;

}

.cart_table{
	margin-right:auto;
	margin-left:auto;
	position:relative;
	top:50px;
	width:50%

}
.purchase_table{
	margin-right:auto;
	margin-left:auto;
	position:relative;
	top:50px;
	width:30%

}
.detail_main{
	text-align:center;
	transform: translateY(100px);
}
.recommend_table{
	margin-right:auto;
	margin-left:auto;
	position:relative;
	top:50px;
	width:50%
}
.detail_img{
	transform: translateY(100px);
	width:20%
	margin-left auto;
}

.submit{
	margin-top:auto;
	text-align:center
}
.submit_botton{
	background:#f2cf01;
	color:#f0f8ff;
	font-weight:900;
	font-size:200%;
	width:800px;
	height:200px;
}
.format{
	transform: translateY(100px);
}
.error_message{
	transform: translateY(100px);
	text-align:center;
}
.link{
 color:yellow;
}
.form-select-wrap{
  display: flex;
  max-width: 300px;
  align-items: center;
}
.form-select-wrap > select{
  padding: 8px 16px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 14px;
}
.slider {
    position: relative;
}

.slider img {
    width: 500px;
    vertical-align: bottom;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.appear {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0.2
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.2
    }

    100% {
        opacity: 1
    }
}

.slider i.fas {
    color: rgba(25, 25, 25, 0.7);
    font-size: 2.5em;
    position: absolute;
    top: 50%;
    bottom: 50%;
}

.slider i.fa-arrow-circle-right {
    right: 2%;
}

.slider i.fa-arrow-circle-left {
    left: 2%;
}
.bottom{
	transform: translateY(100px);
}
.thumbnail ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.thumbnail ul li {
    margin: 10px 0;
    width: 100px;
    margin-right: 2%;
    cursor: pointer;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

.thumbnail ul li:nth-child(4n) {
    margin-right: 0;
}

.thumbnail ul li:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.thumbnail ul li.selected {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.thumbnail ul li img {
    width:80px;
    height:80px;
}

.big{
	width:120;
}
.sub{
	transform: translateY(100px);
}